/* MINE CSS */
.container {
  margin-top: 50px;
}

.container p {
  text-align: justify;
}

.animate {
  animation: fade 1s;
  -webkit-animation: fade 1s;
  -moz-animation: fade 1s;
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
